* {
    --white: #FFFFFF;
    --gray: #f0f0f0;
    --blue: #4F709C;
    --blue-hover: #213555;
    --black: #070707;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

header {
    color: var(--black);
    margin: 40px 0 8px 40px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

header button{
    color: var(--white);
    background-color: var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 3.5rem 0.5rem 0 0;
}

header button:hover {
    background-color: var(--blue-hover);
    cursor: pointer;
}

header img {
    width: 2rem;
    padding-left: 0.5rem;
    filter: invert(100%);
}

form {
    background-color: var(--black);
    display: flex;
    padding: 16px 16px 16px 40px;
}

form input, form button{
    padding: 8px;
}
input {
    border-radius: px;
}

button{
    border: none;
    cursor: pointer;
}

form img {
    filter: invert(100%);
    width: 2.5rem;
    padding-left: 0.5rem;
}

.sidebar-navigation {
    display: -webkit-flex;
    display: flex;
}

.sidebar{
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-color: var(--beige);
    height: 960px;
}

.todo-tasks{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 50px;
    color: var(--black);
    background-color: var(--gray);
}

article li {
    background-color: var(--white);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 8px;
}